h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
section {
  width: 1187px;
  height: 363px;
  border: 1px solid #e8e8e8;
}
section:after {
  content: '';
  display: block;
  clear: both;
}
section .box {
  width: 169px;
  height: 363px;
  padding: 0 14px;
  border-right: 1px solid #e8e8e8;
  float: left;
}
section .box:nth-last-child(1) {
  border-right: none;
}
section h3 {
  font: bold 16px/41px "微软雅黑";
  color: orange;
  display: inline-block;
}
section .imgBox {
  background: #f5f5f5;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
  font: normal 12px/18px "微软雅黑";
  color: #c9c9c9;
}
section .imgBox a {
  color: #666;
}
section .imgBox a:hover {
  color: #f60;
}
section ul:after {
  content: '';
  display: block;
  clear: both;
}
section li {
  width: 80px;
  text-align: center;
}
section li:nth-child(1) {
  float: left;
}
section li:nth-child(2) {
  float: right;
}
section li .title {
  display: block;
  font: 12px/14px "微软雅黑";
  color: #ccc;
  padding: 10px 0;
}
section li .title:hover {
  color: #f60;
}
section .link1 a {
  font: 12px/14px "微软雅黑";
  color: #888;
  border-left: 1px solid #e8e8e8;
  padding: 0 4px;
}
section .link1 a:hover {
  color: #f60;
}
section .link1 a:nth-child(1) {
  border-left: none;
}
section .link2 {
  margin-top: 14px;
  font: normal 12px/14px "微软雅黑";
  color: #888;
}
section .link2 a {
  font: normal 12px/14px "微软雅黑";
  color: #f00;
  padding: 0 2px;
}
section .link2 span {
  padding-left: 4px;
}
